.fb-logo{
  width: 300px;
position: absolute;
left: 250px;
top: 250px;
cursor: pointer;
}

#fb-logo:hover{
  animation: animate 1s linear;
}

@keyframes animate{
      50%{
        transform: rotateY(180deg);
        filter: hue-rotate(180deg);
      }
      to{
        transform: rotateY(360deg);
        filter: hue-rotate(360deg);
      }
}